@model IEnumerable<LearningSchool.Transport.StudentDTO>

@{
    ViewData["Title"] = "Index";
}

<h2>Student</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-12">
        <table id="student" class="table table-striped table-bordered dt-responsive nowrap"></table>
    </div>
</div>

@section scripts {
    <script>
    $(document).ready(function () {
        $('#student').DataTable({
            "processing": false,
            "serverSide": false,
            "ajax": {
                "url": "@Url.Action("ListStudent")",
                "type": "POST"
            },
            "columns": [
                { title: "ID" , "data": "id" },
                { title: "First Name" , "data": "firstMidName" },
                { title: "Last Name" , "data": "lastName" }
            ]
        });
    });
    </script>
}